.change-language {
  //   width: 120%;
  //   max-width: 1400px;
  position: absolute;
  display: block;
  width: 76px;
  height: 30px;

  top: 0;
  right: 0;
  transform: translate(-4px, 4px);

  font-size: 22px;
  color: $text-green;
  // text-align: end;
  // text-decoration: underline;

  background-color: rgba(255, 255, 255, 0);

  // border: 1px solid $icons-green;
  border: none;
  // border-radius: 40%/60%;

  // outline: 4px solid red;
}

.uk.button {
  width: 90%;
  height: 90%;
  background-image: url(../images/uk.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  text-align: end;
}

.en.button {
  display: block;
  width: 90%;
  height: 90%;
  background-image: url(../images/en.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  text-align: end;
}

.change-language:hover {
  //   scale: 1.1;
  // background-color: $icons-green;
  // color: white;

  cursor: pointer;
}
