body {
  padding-top: 10px;
  padding-bottom: 12px;

  // background-color: rgb(224, 221, 221);
}

.wrapper {
  position: relative;

  margin-left: auto;
  margin-right: auto;

  //   padding-bottom: 80px;

  display: flex;
  flex-direction: row-reverse;

  max-width: 1182px;

  background-image: url(../images/bg-top.svg);
  background-repeat: no-repeat;

  background-color: #fff;

  border: 1px solid rgb(196, 196, 196);
  // border: 2px solid #eeeff1;

  // overflow: hidden;
  // overflow: visible;

  // box-shadow: 10px 12px 27px -3px rgba(102, 100, 100, 0.87);
}

.main-content {
  // position: relative;
  width: 100%;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 36px;

  background-image: url(../images/bg-bottom.svg);
  background-position: bottom;
  background-repeat: no-repeat;

  // &::after {
  //   position: absolute;
  //   top: 50%;
  //   left: 0;
  //   content: '';
  //   display: block;
  //   width: 2px;
  //   height: 90%;

  //   transform: translateY(-50%);

  //   background-color: rgb(196, 196, 196);
  // }
}

.section-title {
  display: flex;
  align-items: center;

  font-size: 28px;
  font-weight: 700;
  line-height: 30px;

  text-transform: uppercase;
}

.section-title__image {
  margin-right: 14px;
  fill: rgb(49, 60, 78);
}

// Hero
.hero__title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.hero__name {
  font-size: 46px;
  font-weight: 400;
  line-height: 48px;
}

.hero__salary {
  font-size: 26px;
  font-weight: 100;
  line-height: 48px;
}

.hero__position {
  margin-top: 6px;

  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $text-green;
}

.hero__text {
  margin-top: 20px;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.contacts {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //   justify-content: space-between;

  margin-left: 34px;
  margin-right: 34px;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.contacts__item {
  display: flex;
  align-items: center;

  margin-bottom: 8px;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.contacts__icon {
  margin-right: 8px;

  fill: $icons-green;
}
// Job

.section-title__job__container {
  margin-top: 30px;
}

.job__title {
  margin-bottom: 2px;

  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}

.job__position {
  margin-bottom: 8px;

  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.job__duration {
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-style: italic;
  color: $text-green;
}

.job__skill-item {
  display: flex;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.job__skill-item::before {
  margin-right: 8px;
  content: '';
  min-width: 12px;
  min-height: 12px;
  width: 12px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/sub-mark.svg);
  background-position: center;
}

.pet-project a {
  color: $text-green;
  text-decoration: underline;
}

.section-title.work-experience {
  margin-top: 40px;
}

.section-title.education {
  margin-top: 40px;
}

.dashboard {
  margin-top: 6px;
}

.hero__item {
  display: flex;

  & + & {
    margin-top: 0px;
  }

  &::before {
    content: '';
    min-width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-right: 6px;

    background-color: #247a81;

    mask: url(../images/mark-5.png);
    mask-size: contain;
    mask-position: 0% 16%;
    mask-repeat: no-repeat;

    overflow: hidden;
  }

  // &:nth-child(2)::before {
  //   mask-position: 0% 100%;
  // }

  // Use this when salary section is visible
  // &:not(:last-child)::before {
  // background-color: rgb(21, 136, 46);
  // mask: url(../images/mark-5.png);
  // mask-size: contain;
  // mask-position: 0% 30%;
  // mask-repeat: no-repeat;

  // Try these colors to paint your OK-mark:
  // #00796b
  // #388e3c
  // rgba(8, 100, 47, 0.897)
  // rgb(21, 136, 46)
  // }
}

.hero__skills-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hero__skills-title {
  margin-right: 6px;
}

.hero__skills-item {
  margin-right: 4px;
  margin-bottom: 6px;
  // padding: 6px 14px;
  padding: 4px 8px;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #247a81;

  // background-color: $skills-background;
  background-color: rgb(238, 238, 238);
  border-radius: 6px;
  border-color: #247a81;
  border-style: solid;
  border-width: 1px;

  &:first-child {
    margin-left: 10px;
  }
}

.education_container {
  margin-top: 0px;
}
